.navbar {
    background-color: #011627;
    padding: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .logo:hover{
    color:#FF9F1C;
  }

  .logo span{
    color: #ff9f1c;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav-item a:hover {
    color: #FF9F1C;
  }
  
  .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .login-button,
  .signup-button {
    background-color: white;
    color: #ff9f1c;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #333;
    color: white;
  }
  
  .auth-buttons p{
    color: #fff;
    font-weight: bolder ;
  }