.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 20px;
    margin-top: 2%;
    cursor: pointer;
  }
  
  .faq-item h3 {
    text-align: center;
    color: #333;
  }
  
  .faq-item h3 {
    color: #007bff;
  }
  
.faq-item h3.active {
    color: #0056b3;
  }
  
  .faq-item p {
    color: #666;
  }
  