.CourseCard {
    border: 1px solid #333333;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333333;
    /* margin-bottom: 25px;
    margin-top: 2%; */
  }
  
  .CourseCard h3 {
    margin-top: 0;
    color: #007bff;
  }
  
  .CourseCard p {
    margin: 0;
    color: #fff;
  }

  /* .courseCardWrapper{
    padding: 20px;
  } */
  